$color1: #FFAE04;
$color2: #252525;
$color3: #F8F8F8;
$color4: #4B4B4B;
$color5: #8A8A8A;

@media screen and (max-width:1100px) {
    .whatwehave-wrap {
        justify-content: center;
    }
}

@media screen and (max-width:543px) {
    .whatwehave-wrap__images {
        justify-content: flex-start;
        a {
            &:first-child {
                margin-right: 16px;
            }
            &:last-child {
                display: none;
            }
        }
    }
}

@media screen and (max-width:460px) {
    .whatwehave-wrap__title-row {
        justify-content: flex-start;
        flex-wrap: wrap;
        row-gap: 10px;
        svg {
            width: 25px;
            height: 25px;
        }
    }
    .whatwehave-wrap__price-tag {
        margin-left: 0;
        width: 151px;
        height: 36px;
        border-radius: 4px;
    }
    .whatwehave-wrap__title {
        font-size: 18px;
        font-weight: 400;
    }
    .whatwehave-wrap__buttons {
        .btn {
            background: none;
            border: 1px solid $color1;
            color: $color1;
            padding: 9px 27px 13px;
            font-size: 18px;
        }
        .whatwehave-wrap__link {
            font-size: 14px;
        }
    }
}

@media screen and (max-width:392px) {
    .whatwehave-wrap__buttons {
        .btn {
            padding: 9px 16px 13px;
            font-size: 14px;
        }
        .whatwehave-wrap__link {
            font-size: 12px;
        }
    }
    .whatwehave-wrap__images {
        img {
            width: 45vw;
        }
    }
    .whatwehave-wrap__images a:first-child {
        margin-right: 5px;
    }
}
